[submodule "modules/bash-git-prompt"]
	path = modules/bash-git-prompt
	url = git@github.com:magicmonty/bash-git-prompt.git
[submodule "modules/aspnet-home"]
	path = modules/aspnet-home
	url = git@github.com:aspnet/Home.git
