[submodule "modules/bash-git-prompt"]
	path = modules/bash-git-prompt
	url = git@github.com:magicmonty/bash-git-prompt.git
[submodule "modules/oh-my-zsh"]
	path = modules/oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "modules/macos-terminal-themes"]
	path = modules/macos-terminal-themes
	url = https://github.com/lysyi3m/macos-terminal-themes.git
